<div #variableContainerEmoji [ngClass]="classes">
    <div class="container-alter-field_box_emoji_header">
        <button class="container-alter-field_box_emoji_header_button 
        container-alter-field_box_emoji_header_button--selected" 
        varscroll="SCHEDULE" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                schedule
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="SMILEYS_AND_PEOPLE" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                mood
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="ANIMALS_AND_NATURE" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                pets
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="FOOD_AND_DRINK" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                emoji_food_beverage
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="ACTIVITIES" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                sports_basketball
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="TRAVEL_AND_PLACES" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                directions_car
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="OBJECTS" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                emoji_objects
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="SYMBOLS" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                emoji_symbols
            </span>
        </button>
        <button class="container-alter-field_box_emoji_header_button" 
        varscroll="FLAGS" type="button" (click)="buttonIconEmojiScroll($event)">
            <span class="material-symbols-outlined">
                flag
            </span>
        </button>
    </div>
    <div class="container-alter-field_box_emoji_search">
        <div>
            <span class="material-symbols-outlined">
                search
            </span>
            <input (input)="filterEmojis($event)" type="text" placeholder="Pesquisar emojis">
        </div>
    </div>
    <div #containerAlterFieldBoxEmojiBox 
    (scroll)="boxEmojiEventListener($event)"
    class="container-alter-field_box_emoji_box">
        <div class="container-alter-field_box_emoji_box_child var-scroll-SCHEDULE">
            <p>Recentes</p>
            <div class="container-alter-field_box_emoji_box_emojis">
                <button type="button" (click)="insertEmojiField('✌🏻')">✌🏻</button>
                <button type="button" (click)="insertEmojiField('✌🏻')">✌🏻</button>
            </div>
        </div>
        <ng-container *ngFor="let emojiDTO of emojiAllFilter; index as i">
            <div [class]="'container-alter-field_box_emoji_box_child var-scroll-' + emojiDTO.valueType">
                <ng-container *ngIf="emojiDTO.emojis.length > 0">
                    <p>{{emojiDTO.nameType}}</p>    
                    <div class="container-alter-field_box_emoji_box_emojis">          
                        <ng-container *ngFor="let emoji of emojiDTO.emojis">
                            <button type="button" (click)="insertEmojiField(emoji.value)">{{ emoji.value }}</button>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>