@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: "Elms Sans", sans-serif;

$primary-color: #26d367;
$secoundary-color: #fcf5eb;
$terciary-color: #0b7332;

$white-color-one: white;

$black-color-one: black;
$black-color-two: #1d1f1e;

