<div class="container-my-contacts">
    <div class="container-my-contacts-header">
        <button type="button">
            <span class="material-symbols-outlined">
                person_add
            </span>
        </button>
        <div class="container-my-contacts-header-title">
            <h2>Meus contatos</h2>
            <p>Veja todos os seus contatos no WhatsApp</p>
        </div>
        <div class="container-my-contacts-header-buttons">
            <button (click)="focusSearch()" type="button">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>
    </div>
    <form class="container-my-contacts-box">
        <div class="container-my-contacts-box-search">
            <div class="container-my-contacts-box-search-title">
                <h3>Buscar por nome ou número de telefone</h3>
                <p>Digite o nome ou número com DDD para encontrar algum contato seu no WhatsApp</p>
            </div>
            <div class="container-my-contacts-box-search-inputs">
                <select name="" id="" class="container-my-contacts-box-search_select">
                    <option value="+55">+55</option>
                </select>
                <input type="text" class="container-my-contacts-box-search_input"
                placeholder="(81) 99999-0000">
                <input type="text" class="container-my-contacts-box-search_input" #searchInput
                placeholder="Digite o nome do contato">
                <button type="button" class="container-my-contacts-box-search_button">Buscar</button>
            </div>
        </div>
        <div class="container-my-contacts-box-recommendations">
            <div class="container-my-contacts-box-recommendations-title">
                <h3>Todos os seus contatos (6)</h3>
            </div>
            <div class="container-my-contacts-box-recommendations-contacts">
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
                <div class="container-my-contacts-box-recommendations-contact">
                    <img src="/user.png" alt="">
                    <div class="container-my-contacts-box-recommendations-contact-info">
                        <h4>
                            Camila Ferreira
                        </h4>
                        <p>
                            +55 81 99999-0000
                        </p>
                        <div class="container-my-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-my-contacts-box-recommendations-contact-buttons">
                        <button type="button">
                            Mensagem
                        </button>
                        <button type="button">
                            Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

