<div class="forgot-password-box">
    <h2>
        Esqueceu a senha?
        <img src="/icon-forgot.png" alt="">
    </h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="email">
            Digite o e-mail da sua conta:
        </label>
        <input type="email" id="email" formControlName="email" placeholder="email@gmail.com">
        <span class="errors" *ngIf="form.get('email')?.errors?.['required'] && form.touched">
            O e-mail é obrigatório.
        </span>
        <span class="errors" *ngIf="form.get('email')?.errors?.['email'] && form.touched">
            O e-mail precisa ser válido.
        </span>

        <button [disabled]="form.invalid">Recuperar</button>
        <span class="errors" *ngIf="form.invalid && form.touched">
            Por favor, corrija os erros acima.
        </span>
        <span class="row"></span>
        <a routerLink="/auth/login">Lembrou da senha? Faça o login</a>
    </form>
</div>