<div class="container-dashboard">
    <div class="container-sidebar">
        <div class="container-sidebar_buttons-up">
            <button>
                <span class="material-symbols-outlined">
                    chat
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    circle_circle
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    sensors
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    group
                </span>
            </button>
        </div>
        <div class="container-sidebar_buttons-down">
            <button>
                <span class="material-symbols-outlined">
                    photo_library
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    settings
                </span>
            </button>
            <span></span>
            <button>
                <img src="user.png">
            </button>
        </div>
    </div>

    <form class="container-conversations">
        <div class="container-conversations_header">
            <h1>
                Whatsapp
            </h1>
            <div class="container-conversations_header_buttons">
                <button>
                    <span class="material-symbols-outlined">
                        add_comment
                    </span>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </button>
            </div>
        </div>
        <div class="container-conversations_search">
             <div class="container-conversations_search_input">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" placeholder="Pesquisar ou começar uma nova conversa">
             </div>
        </div>
        <div class="container-conversations_filter">
             <button class="container-conversations_filter_button--active">
                Tudo
             </button>
             <button>
                Não lidas 2
             </button>
             <button>
                Favoritas 3
             </button>
             <button>
                Grupos 4
             </button>
             <button>
                +
             </button>
        </div>
        <div class="container-conversations_conversations">
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
             <div class="container-conversations_conversations_conversation">
                <img src="user.png">
                <div>
                    <div class="container-conversations_conversations_conversation_header">
                        <h5>
                            Fulano de Tal
                        </h5>
                        <p>
                            quinta-feira
                        </p>
                    </div>
                    <div class="container-conversations_conversations_conversation_footer">
                        <p>
                            Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </p>
                        <span class="container-conversations_conversations_conversation_number_messages">1</span>
                    </div>
                </div>
             </div>
        </div>
    </form>

    <div class="container-conversation">
        <div class="container-conversation_header">
            <div class="container-conversation_header_info">
                <img src="user.png">
                <h2>
                    Fulano de Tal
                </h2>
            </div>
            <div class="container-conversation_header_actions">
                <button>
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </button>
            </div>
        </div>
        <div class="container-conversation_messages">
            <div class="container-conversation_messages_box">
                <div class="container-conversation_messages_message 
                    container-conversation_messages_message--me">
                    <div>
                        <span class="container-conversation_messages_message_text">
                            Olá, tudo bem? Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </span>
                        <div class="container-conversation_messages_message_info">
                            <span class="container-conversation_messages_message_hour">11:45</span>
                            <span class="material-symbols-outlined container-conversation_messages_message_check">
                                done_all
                            </span>
                        </div>
                    </div>
                </div>
                <div class="container-conversation_messages_message 
                    container-conversation_messages_message--he">
                    <div>
                        <span class="container-conversation_messages_message_text">
                            Olá, tudo bem? Essa mensagem é um teste para verificar se a exibição da conversa está funcionando corretamente. O conteúdo da mensagem pode ser exibido aqui, e o número de mensagens não lidas pode ser mostrado em um badge ou contador.
                        </span>
                        <div class="container-conversation_messages_message_info">
                            <span class="container-conversation_messages_message_hour">11:45</span>
                            <span class="material-symbols-outlined container-conversation_messages_message_check">
                                done_all
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-conversation_messages_actions">
                <div>
                    <button>
                    <span class="material-symbols-outlined">
                        add_2
                    </span>
                    </button>
                    <button>
                        <span class="material-symbols-outlined">
                            sticker
                        </span>
                    </button>
                </div>
                <input type="text" placeholder="Digite uma mensagem">
                <button>
                    <span class="material-symbols-outlined">
                        mic
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>