@import 'utils', 'variables';

:host{
    width: 100%;
}

.loader {
    @include loader(5rem, 0.5rem, $primary-color, $secoundary-color, 1s);
}

.container-dashboard{
    @include display-flex(row, nowrap, left, start, 0rem);

    button{
        @include padding(1rem, 1rem, 1rem, 1rem);
        @include border-radius(50%);

        border: none;
        cursor: pointer;
        @include transition(all, 0.3s, ease-in-out, 0s, normal);

        img{
            width: 3rem;
        }

        background: $dark-mode-color-surface;
        color: $dark-mode-button-default-text;
        font-family: $font-primary;

        &:hover{
            color: $dark-mode-button-selected-text;
            @include transform-scale(1.05);
        }
    }

    .container-sidebar{
        min-height: 100vh;
        width: 10rem;
        @include display-flex(column, nowrap, space-between, center, 2rem);
        @include padding(1rem, 1rem, 1rem, 1rem);
        background: $dark-mode-color-bg;
        border-right: $dark-mode-input-border 0.15rem solid;

        .container-sidebar_buttons-up, .container-sidebar_buttons-down{
            
            @include padding(1rem, 1rem, 1rem, 1rem);
            @include display-flex(column, nowrap, center, center, 1rem);

            &>span{
                width: 100%;
                height: 0.2rem;

                background: $dark-mode-color-divider;
            }
            
        }

    }

}
