<div class="container-dashboard">
    <div class="container-sidebar">
        <div class="container-sidebar_buttons-up">
            <button (click)="viewComponentConversations()">
                <span class="material-symbols-outlined">
                    chat
                </span>
            </button>
            <button (click)="viewComponentNotifications()" class="button-notifications">
                <span class="material-symbols-outlined">
                    notifications
                </span>
                <span>3</span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    sensors
                </span>
            </button>
            <button (click)="viewComponentMyContacts()">
                <span class="material-symbols-outlined">
                    group
                </span>
            </button>
            <span></span>
            <button (click)="viewComponentNewContacts()">
                <span class="material-symbols-outlined">
                    add_2
                </span>
            </button>
        </div>
        <div class="container-sidebar_buttons-down">
            <button>
                <span class="material-symbols-outlined">
                    photo_library
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    settings
                </span>
            </button>
            <span></span>
            <button (click)="viewComponentAlterProfile()">
                <img src="user.png">
            </button>
        </div>
    </div>


    <app-conversations (value)="viewComponentNewContacts()" *ngIf="viewComponentNow === 'CONVERSATIONS'"></app-conversations>

    <app-alter-profile *ngIf="viewComponentNow === 'ALTER_PROFILE'"></app-alter-profile>

    <app-new-contacts *ngIf="viewComponentNow === 'NEW_CONTACTS'"></app-new-contacts>

    <app-my-contacts *ngIf="viewComponentNow === 'MY_CONTACTS'"></app-my-contacts>

     <app-notifications *ngIf="viewComponentNow === 'NOTIFICATIONS'"></app-notifications>

</div>