<div class="container-dashboard">
    <div class="container-sidebar">
        <div class="container-sidebar_buttons-up">
            <button (click)="viewComponentConversations()">
                <span class="material-symbols-outlined">
                    chat
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    circle_circle
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    sensors
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    group
                </span>
            </button>
            <span></span>
            <button>
                <span class="material-symbols-outlined">
                    add_2
                </span>
            </button>
        </div>
        <div class="container-sidebar_buttons-down">
            <button>
                <span class="material-symbols-outlined">
                    photo_library
                </span>
            </button>
            <button>
                <span class="material-symbols-outlined">
                    settings
                </span>
            </button>
            <span></span>
            <button (click)="viewComponentAlterProfile()">
                <img src="user.png">
            </button>
        </div>
    </div>


    <app-conversations *ngIf="viewComponentNow === 'CONVERSATIONS'"></app-conversations>

    <app-alter-profile *ngIf="viewComponentNow === 'ALTER_PROFILE'"></app-alter-profile>

</div>