@import 'utils', 'variables';

:host{
    width: 100%;
}

.loader {
    @include loader(5rem, 0.5rem, $primary-color, $secoundary-color, 1s);
}

.container-alter-profile-info {
    border: 1px solid red;
    border-right: $dark-mode-input-border 0.15rem solid;
    min-height: 100vh;
    width: 65rem;
    @include display-flex(column, nowrap, start, center, 2rem);
    @include padding(1rem, 1rem, 1rem, 1rem);
    background: $dark-mode-color-bg;

    .container-alter-profile-info_header{
        border: 1px solid red;
        width: 100%;
        @include display-flex(row, nowrap, start, center, 0rem);

        h1{
            color: $dark-mode-color-text;
        } 
    }

    .container-alter-profile-info_photo{
        width: 100%;
        @include display-flex(row, nowrap, center, center, 0rem);

        .container-alter-profile-info_photo_box{
            @include border-radius(50%);
            position: relative;
            @include transition(all, 0.3s, ease-in-out, 0s, normal);
            cursor: pointer;

            img{
                width: 15rem;
                height: 15rem;
                @include border-radius(50%);
            }

            &>button{
                @include border-radius(50%);
                width: 15rem;
                height: 15rem;
                @include transition(all, 0.3s, ease-in-out, 0s, normal);
                cursor: pointer;
                font-family: $font-primary;
                position: absolute;
                top: 0rem;
                background: transparent;
                border: none;
                background: $dark-mode-color-bg-opacity-5;
                color: $dark-mode-button-default-text;
                @include display-flex(column, nowrap, center, center, 1rem);
                display: none;
            }

            &:hover>button {
                display: flex;
            }

            div{
                position: absolute;
                top: 70%;
                right: 0;
                width: 25rem;
                font-size: 1.5rem;
                background: $dark-mode-color-surface;
                border: $dark-mode-input-border 0.15rem solid;
                @include display-flex(column, nowrap, center, start, 0rem);
                @include border-radius(2rem);
                @include padding(1rem, 1rem, 1rem, 1rem);
                transform: scale(0);
                @include transition(transform, 0.5s, ease-in-out, 0s, normal);

                &.container-alter-profile-info-photo--view{
                    transform: scale(1);
                }

                &>span{
                    @include margin(1rem, 0rem, 1rem, 0rem);
                    width: 100%;
                    height: 0.2rem;
                    background: $dark-mode-color-divider;
                }

                button{
                    @include border-radius(0rem);
                    @include padding(1rem, 1rem, 1rem, 1rem);
                    @include display-flex(row, nowrap, start, center, 2rem);
                    z-index: 1000;
                    background: transparent;
                    color: $dark-mode-button-default-text;
                    border: none;
                    @include transition(all, 0.3s, ease-in-out, 0s, normal);
                    cursor: pointer;
                    font-family: $font-primary;

                    &:hover{
                        color: $dark-mode-button-selected-text;
                        @include transform-scale(1.05);
                    }

                    &:first-child{
                        border-top-left-radius: 2rem;
                    }

                    &:last-child{
                        border-bottom-left-radius: 2rem;
                    }
                }
            }
        }
        
    }

    .container-alter-profile-info_name{
        width: 100%;
        @include display-flex(column, nowrap, center, flex-start, 1rem);

        p{
            color: $dark-mode-color-text;
            font-size: 1.5rem;
        }

        .container-alter-name_box{
            width: 100%;
            @include display-flex(row, nowrap, center, center, 2rem);
            position: relative;

            &.container-alter-name_box--edit{
                border-bottom: 0.2rem solid $primary-color;
            }

            .container-alter-profile-info_name_buttons{
                @include display-flex(row, nowrap, center, center, 1rem);
            }

            .container-alter-profile-info_name_input{
                width: 100%;
                background: transparent;
                border: none;
                @include padding(1rem, 1rem, 1rem, 1rem);
                color: $dark-mode-color-text;
                font-family: $font-primary;
            }

            .container-alter-profile-info_name_buttons{
                button{
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    span{
                        color: $dark-mode-color-text;
                        font-size: 2rem;
                    }
                }
            }

            .container-alter-name_box_emoji{
                position: absolute;
                top: 150%;
                @include display-flex(column, nowrap, center, center, 1rem);
                @include padding(1rem, 1.5rem, 1rem, 1.5rem);
                @include border-radius(2rem);
                background: $dark-mode-color-surface;
                width: 55rem;
                transform: scale(0);
                @include transition(transform, 0.5s, ease-in-out, 0s, normal);

                .container-alter-name_box_emoji_header{
                    width: 100%;
                    @include display-flex(row, nowrap, space-between, center, 1rem);
                    @include padding(1rem, 1rem, 1rem, 1rem);

                    .container-alter-name_box_emoji_header_button{
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        @include transition(all, 0.3s, ease-in-out, 0s, normal);
                        @include padding(0rem, 0rem, 0.5rem, 0rem);

                        span{
                            color: $dark-mode-button-default-text;
                            @include transition(all, 0.3s, ease-in-out, 0s, normal);

                            &:hover{
                                color: $dark-mode-color-text;
                            }

                            font-size: 2.5rem;
                        }
                    }

                    .container-alter-name_box_emoji_header_button--selected{
                        border-bottom: 0.25rem solid $primary-color;
                        span{
                            color: $dark-mode-color-text;
                        }
                    }
                }

                .container-alter-name_box_emoji_search{
                    width: 100%;
                    @include border-radius(4rem);
                    @include display-flex(row, nowrap, center, center, 0.5rem);
                    @include padding(1rem, 1rem, 1rem, 1rem);
                    background: $dark-mode-color-bg;

                    &>div{
                        width: 100%;
                        @include display-flex(row, nowrap, center, center, 1rem);

                        span{
                            color: $dark-mode-color-text;
                            font-size: 1.8rem;
                        }

                        input{
                            width: 100%;
                            background: transparent;
                            border: none;
                            @include padding(0.5rem, 1rem, 0.5rem, 1rem);
                            color: $dark-mode-color-text;
                            font-family: $font-primary;

                            &:focus{
                                border-bottom-color: $primary-color;
                            }
                        }
                    }
                }

                .container-alter-name_box_emoji_box{
                    width: 100%;
                    height: 15rem;
                    overflow: auto;
                    @include display-flex(column, nowrap, flex-start, center, 1.5rem);
                    @include padding(1rem, 1rem, 1rem, 1rem);
                    border: 1px solid red;

                    // Scroll Bar
                    scrollbar-width: thin;
                    scrollbar-color: $dark-mode-color-divider $dark-mode-color-surface;

                    /* Chrome / Edge / Safari */
                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        background: $dark-mode-color-surface;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $dark-mode-color-divider;
                        @include border-radius(0.8rem);
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: lighten($dark-mode-color-divider, 10%);
                    }

                    .container-alter-name_box_emoji_box_emojis{
                        @include display-flex(row, wrap, flex-start, center, 0.5rem);

                        button{
                            border: none;
                            background: transparent;
                            font-size: 2rem;
                            cursor: pointer;
                            @include transition(all, 0.3s, ease-in-out, 0s, normal);

                            &:hover{
                                @include transform-scale(1.2);
                            }
                        }
                    }

                    .container-alter-name_box_emoji_box_all{
                        border: 1px solid yellow;
                        @include display-flex(column, nowrap, center, flex-start, 1rem);
                        width: 100%;

                        .container-alter-name_box_emoji_box_child{
                            border: 1px solid green;
                            &:not(:first-child){
                                @include padding(1rem, 0rem, 0rem, 0rem);
                            }
                            @include display-flex(column, nowrap, center, flex-start, 1rem);
                            width: 100%;
                        }
                    }
                }
            }

            .container-alter-name_box_emoji--view{
                transform: scale(1);
            }
        }
    }
}
