<form [formGroup]="form" (submit)="alterProfile()" class="container-alter-profile-info">
    <div class="container-alter-profile-info_header">
        <h1>Perfil</h1>
    </div>
    <ng-container *ngIf="this.profileInfo && this.form.get('name')">
        <div class="container-alter-profile-info_photo">
            <div class="container-alter-profile-info_photo_box">
                <img #tagImgFileProfile
                [src]="filePhoto" accept="image/*">
                <button type="button" #variableContainerAlterProfileInfoPhoto 
                (click)="toggleContainerAlterProfileInfoPhoto()">
                    <span class="material-symbols-outlined">
                        photo_library
                    </span>
                    <p>
                        Mudar foto <br> do perfil
                    </p>
                </button>
                <div>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>
                            Mostrar foto
                        </p>
                    </button>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            photo_camera
                        </span>
                        <p>
                            Tirar foto
                        </p>
                    </button>
                    <button type="button" (click)="alterFilePhoto($event)">
                        <span class="material-symbols-outlined">
                            upload_file
                        </span>
                        <p>
                            Carregar foto
                        </p>
                        <input (change)="handleFilePhoto($event)" 
                        #inputFilePhotoProfile type="file">
                    </button>
                    <span></span>
                    <button type="button">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                        <p>
                            Remover foto
                        </p>
                    </button>
                </div>
            </div>
        </div>

        <div class="container-alter-profile-info_field">
            <p>
                Nome
            </p>
            <div #variableAlterNameBox class="container-alter-field_box container-alter-name_box">
                <input (input)="alterFieldLength('name')" formControlName="name"
                class="container-alter-profile-info_field_input" [maxLength]="255"
                #variableInputName (focus)="inputFieldFocus('name')" type="text" placeholder="Digite seu nome">
                <div class="container-alter-profile-info_field_buttons">
                    <p *ngIf="variableOpenEditName">{{ variableInputNameLength }}</p>
                    <button (click)="toggleBoxEmojis('name')" *ngIf="variableOpenEditName" type="button">
                        <span class="material-symbols-outlined">
                            add_reaction
                        </span>
                    </button>
                    <button *ngIf="variableOpenEditName" type="button" (click)="closeEditField('name')">
                        <span class="material-symbols-outlined">
                            check
                        </span>
                    </button>
                    <button *ngIf="!variableOpenEditName" type="button" (click)="openEditField('name')">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <app-emojis 
                    [formProfile]="this.form" 
                    [emojiAll]="this.emojiAll" 
                    [emojiAllFilter]="this.emojiAllFilter" 
                    [profileInfo]="this.profileInfo"
                    [view]="viewEmojis['name']"
                    [type]="'name'"></app-emojis>
                </div>
            </div>
        </div>

        <div class="container-alter-profile-info_field">
            <p>
                Descrição
            </p>
            <div #variableAlterDescriptionBox class="container-alter-field_box container-alter-description_box">
                <input (input)="alterFieldLength('description')" formControlName="description"
                class="container-alter-profile-info_field_input" [maxLength]="255"
                #variableInputDescription (focus)="inputFieldFocus('description')" type="text" placeholder="Escreva um pouco sobre você">
                <div class="container-alter-profile-info_field_buttons">
                    <p *ngIf="variableOpenEditDescription">{{ variableInputDescriptionLength }}</p>
                    <button (click)="toggleBoxEmojis('description')" *ngIf="variableOpenEditDescription" type="button">
                        <span class="material-symbols-outlined">
                            add_reaction
                        </span>
                    </button>
                    <button *ngIf="variableOpenEditDescription" type="button" (click)="closeEditField('description')">
                        <span class="material-symbols-outlined">
                            check
                        </span>
                    </button>
                    <button *ngIf="!variableOpenEditDescription" type="button" (click)="openEditField('description')">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                    <app-emojis 
                    [formProfile]="this.form" 
                    [emojiAll]="this.emojiAll" 
                    [emojiAllFilter]="this.emojiAllFilter" 
                    [profileInfo]="this.profileInfo"
                    [view]="viewEmojis['description']"
                    [type]="'description'"></app-emojis>
                </div>
            </div>
        </div>

        <div class="container-alter-profile-info_phone">

        </div>

        <button [disabled]="formButtonDisabled" 
        type="submit" *ngIf="!formLoader" 
        class="container-alter-profile-info_button">Salvar</button>
        <span class="loader" *ngIf="formLoader"></span>
    </ng-container>

    <ng-container *ngIf="!this.profileInfo">
        <span class="loader"></span>
    </ng-container>
</form>
