<form class="container-alter-profile-info">
    <div class="container-alter-profile-info_header">
        <h1>Perfil</h1>
    </div>
    <div class="container-alter-profile-info_photo">
        <div class="container-alter-profile-info_photo_box">
            <img src="/user.png">
            <button type="button" #variableContainerAlterProfileInfoPhoto 
            (click)="toggleContainerAlterProfileInfoPhoto()">
                <span class="material-symbols-outlined">
                    photo_library
                </span>
                <p>
                    Mudar foto <br> do perfil
                </p>
            </button>
            <div>
                <button>
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    <p>
                        Mostrar foto
                    </p>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        photo_camera
                    </span>
                    <p>
                        Tirar foto
                    </p>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        upload_file
                    </span>
                    <p>
                        Carregar foto
                    </p>
                </button>
                <span></span>
                <button>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    <p>
                        Remover foto
                    </p>
                </button>
            </div>
        </div>
    </div>

    <div class="container-alter-profile-info_name">
        <p>
            Nome
        </p>
        <div #variableAlterNameBox class="container-alter-name_box">
            <input (input)="alterNameLength()" class="container-alter-profile-info_name_input" 
            #variableInputName (focus)="inputNameFocus()" type="text" placeholder="Digite seu nome">
            <div class="container-alter-profile-info_name_buttons">
                <p *ngIf="variableOpenEditName">{{ variableInputNameLength }}</p>
                <button (click)="toggleBoxEmojis()" *ngIf="variableOpenEditName" type="button">
                    <span class="material-symbols-outlined">
                        add_reaction
                    </span>
                </button>
                <button *ngIf="variableOpenEditName" type="button" (click)="closeEditName()">
                    <span class="material-symbols-outlined">
                        check
                    </span>
                </button>
                <button *ngIf="!variableOpenEditName" type="button" (click)="openEditName()">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </div>
            <div #variableContainerEmoji class="container-alter-name_box_emoji">
                <div class="container-alter-name_box_emoji_header">
                    <button class="container-alter-name_box_emoji_header_button
                    container-alter-name_box_emoji_header_button--selected" type="button">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            mood
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            pets
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            emoji_food_beverage
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            sports_basketball
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            directions_car
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            emoji_objects
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            emoji_symbols
                        </span>
                    </button>
                    <button class="container-alter-name_box_emoji_header_button" type="button">
                        <span class="material-symbols-outlined">
                            flag
                        </span>
                    </button>
                </div>
                <div class="container-alter-name_box_emoji_search">
                    <div>
                        <span class="material-symbols-outlined">
                            search
                        </span>
                        <input type="text" placeholder="Pesquisar emojis">
                    </div>
                </div>
                <div class="container-alter-name_box_emoji_box">
                    <div class="container-alter-name_box_emoji_box_recent">
                        <p>Recentes</p>
                        <div class="container-alter-name_box_emoji_box_emojis">
                            <button (click)="insertEmojiName('✌🏻')">✌🏻</button>
                            <button (click)="insertEmojiName('✌🏻')">✌🏻</button>
                        </div>
                    </div>
                    <div class="container-alter-name_box_emoji_box_all">
                        <div class="container-alter-name_box_emoji_box_child">
                            <ng-container *ngFor="let emojiDTO of emojiAll$ | async">
                                <ng-container *ngIf="emojiDTO.emojis.length > 0">
                                    <p>{{emojiDTO.nameType}}</p>    
                                    <div class="container-alter-name_box_emoji_box_emojis">          
                                        <ng-container *ngFor="let emoji of emojiDTO.emojis">
                                            <button (click)="insertEmojiName(emoji.value)">{{ emoji.value }}</button>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-alter-profile-info_description">

    </div>

    <div class="container-alter-profile-info_phone">

    </div>
</form>
