<div class="container-new-contacts">
    <div class="container-new-contacts-header">
        <button type="button">
            <span class="material-symbols-outlined">
                person_add
            </span>
        </button>
        <div class="container-new-contacts-header-title">
            <h2>Encontrar contatos</h2>
            <p>Adicione pessoas ao seu WhatsApp</p>
        </div>
        <div class="container-new-contacts-header-buttons">
            <button (click)="focusSearch()" type="button">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>
    </div>
    <form class="container-new-contacts-box">
        <div class="container-new-contacts-box-search">
            <div class="container-new-contacts-box-search-title">
                <h3>Buscar por nome ou número de telefone</h3>
                <p>Digite o nome ou número com DDD para encontrar alguém no WhatsApp</p>
            </div>
            <div class="container-new-contacts-box-search-inputs">
                <input type="text" class="container-new-contacts-box-search_input"
                placeholder="(81) 99999-0000" #searchInputPhone>
                <input type="text"
                class="container-new-contacts-box-search_input" #searchInputText
                placeholder="Digite o nome do contato">
                <button type="button" (click)="searchProfiles()" 
                class="container-new-contacts-box-search_button">Buscar</button>
            </div>
        </div>
        <div class="container-new-contacts-box-recommendations">
            <div class="container-new-contacts-box-recommendations-title">
                <h3>Pessoas que você pode conhecer ({{profilesListFilter.length}})</h3>
                <p>Com base nos seus contatos em comum</p>
            </div>
            <div class="container-new-contacts-box-recommendations-contacts">
                <span *ngIf="profilesListFilter.length == 0" class="loader"></span>
                <div *ngFor="let profile of profilesListFilter" class="container-new-contacts-box-recommendations-contact">
                    <img *ngIf="!profile.linkPhoto" src="/user.png" alt="">
                    <img *ngIf="profile.linkPhoto" src="{{ profile.linkPhoto }}" alt="">

                    <div class="container-new-contacts-box-recommendations-contact-info">
                        <h4>
                            {{ profile.name }}
                        </h4>
                        <p>
                            {{ profile.phone }}
                        </p>
                        <div class="container-new-contacts-box-recommendations-contact-info-friends">
                            <div>
                                <img src="/user.png" alt="">
                                <img src="/user.png" alt="">
                            </div>
                            <p>
                                2 contatos em comum — Ana, Rafael
                            </p>
                        </div>
                    </div>
                    <div class="container-new-contacts-box-recommendations-contact-buttons">
                        <button class="container-new-contacts-box-recommendations-contact-buttons-add"
                        (click)="sendFriendshipRequest(profile.username)" 
                        *ngIf="profile.situationFriendship !== 'PENDING'" type="button">
                            Enviar solicitação
                        </button>
                        <button class="container-new-contacts-box-recommendations-contact-buttons-pending"
                        *ngIf="profile.situationFriendship === 'PENDING'" 
                        type="button">
                            Solicitação pendente
                        </button>
                        <button class="container-new-contacts-box-recommendations-contact-buttons-remove"
                        *ngIf="profile.situationFriendship === 'PENDING'" 
                        (click)="cancelRequestFriendship(profile.username)"
                        type="button">
                            Cancelar solicitação
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

